<div class="order-summary-wrapper">
  <div class="order-summary-card">
    <p class="order-summary-title">Order summary</p>
    <div class="order-summary-details">
      <div class="order-summary-items">
        <dl class="order-summary-item">
          <dt>Subtotal</dt>
          <dd>{{ cartService.totals()?.subtotal | currency }}</dd>
        </dl>
        <dl class="order-summary-item">
          <dt>Discount</dt>
          <dd class="order-summary-discount">-{{ cartService.totals()?.discount | currency }}</dd>
        </dl>
        <dl class="order-summary-item">
          <dt>Delivery fee</dt>
          <dd>{{ cartService.totals()?.shipping | currency }}</dd>
        </dl>
      </div>
      <dl class="order-summary-total">
        <dt>Total</dt>
        <dd>{{ cartService.totals()?.total | currency }}</dd>
      </dl>
    </div>

    @if(location.path() !== '/checkout'){
    <div class="order-summary-actions">
      <button routerLink="/checkout" mat-flat-button class="checkout-btn">Checkout</button>
      <button routerLink="/shop" mat-button class="continue-btn">Continue Shopping</button>
    </div>

    }
  </div>

