/* styles.scss */
@use '@angular/material' as mat;
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button{
    @apply rounded-md;
  }
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  display: flex;
  justify-content: center; /* Center the page content */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}
mat-card {
  background-color: #1e1e1e !important;
  color: #e0e0e0 !important;
}
