@use '@angular/material' as mat;
@use "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();


.custom-theme {
  
  .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
    @apply rounded-md;
    color: #E0E0E0;
    border-color: #333 !important;
  }

  mat-card {
    background-color: #2A2A2A !important;
    color: #E0E0E0 !important;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s ease-in-out;
  }

  mat-icon {
    color: #00FFFF; 
  }
}


html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #E0E0E0;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

.text-primary {
  color: #FF4EC3 !important; 
}

.text-accent {
  color: #00FFFF !important; 
}

// Buttons
button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

input, mat-form-field {
  background-color: #1E1E1E;
  color: #E0E0E0;
  border-color: #333 !important;
}

mat-card:hover {
  box-shadow: 0 0 15px #00FFFF55, 0 0 20px #FF4EC355;
}

button.mat-stroked-button:hover {
  border-color: #FF4EC3;
  box-shadow: 0 0 5px #FF4EC3;
}
.filters-container {
  background-color: #2A2A2A; 
  color: #E0E0E0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.filters-container mat-selection-list {
  background-color: #2A2A2A !important;
  color: #E0E0E0 !important;
  border-radius: 0.5rem;
}

.filters-container mat-list-option {
  background-color: #2A2A2A !important;
  color: #E0E0E0 !important;
  border-bottom: 1px solid #333;
}


.filters-container mat-list-option.mat-selected {
  background-color: #00FFFF22 !important; 
  color: #00FFFF !important;
}

.filters-container h3, 
.filters-container h4 {
  color: #FF4EC3; 
}
