<header class="header">
  <div class="header-container">
    <img routerLink="/" src="/images/logo.png" alt="app logo" class="logo" />

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>

    <div class="header-actions">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="{{ cartService.itemCount() }}"
        matBadgeSize="large"
        class="custom-badge"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button type="button">Login</button>
      <button mat-stroked-button type="button">Register</button>
    </div>
  </div>

  <mat-progress-bar
    *ngIf="busyService.loading()"
    mode="indeterminate"
    class="progress-bar"
  ></mat-progress-bar>
</header>
