<section *ngIf="signalrService.orderSignal() as order" class="order-success">
  <div class="order-card">
    <h2 class="order-header">Thanks for your fake order</h2>
    <p class="order-subtitle">
      Your order <span class="order-number">#{{ order.id }}</span> will never be processed as this
      is a fake shop. We will not notify you once your order has shipped.
    </p>
    <div class="order-summary">
      <dl class="summary-row">
        <dt>Date</dt>
        <dd>{{ order.orderDate | date : 'medium' }}</dd>
      </dl>
      <dl class="summary-row">
        <dt>Payment method</dt>
        <dd>{{ order.paymentSummary | paymentCard }}</dd>
      </dl>
      <dl class="summary-row">
        <dt>Address</dt>
        <dd>{{ order.shippingAddress | address }}</dd>
      </dl>
      <dl class="summary-row">
        <dt>Amount</dt>
        <dd>{{ order.total | currency }}</dd>
      </dl>
    </div>

    <div class="actions">
      <button routerLink="/orders/{{order.id}}" mat-flat-button class="order-button">
        View your order
      </button>
      <button routerLink="/shop" mat-stroked-button class="order-button-outline">
        Continue shopping
      </button>
    </div>
  </div>
</section>

<section *ngIf="!signalrService.orderSignal()" class="order-success">
  <div class="order-card">
    <h2 class="order-header">Order processing...please wait</h2>
    <div class="loading-block">
      <img src="/images/logo.png" alt="app logo" class="jumping-logo" />
      <p class="loading-text">Loading order...</p>
      <span class="loading-subtext"
        >Your payment has been received. We are creating the order.</span
      >
    </div>
    <div class="actions">
      <button routerLink="/shop" mat-stroked-button class="order-button-outline">
        Continue shopping
      </button>
    </div>
  </div>
</section>
