<div *ngIf="devices()" class="flex flex-col gap-[var(--spacing-2xl)] p-[var(--spacing-lg)]">
  <div class="flex flex-col md:flex-row justify-between items-center gap-[var(--spacing-lg)]">
    <div class="flex flex-wrap items-center gap-4 w-full md:w-auto">
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="devices()?.count"
        [pageSize]="shopParams.pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="shopParams.pageNumber - 1"
      ></mat-paginator>
    </div>

    <form (ngSubmit)="onSearchChange()" class="flex items-center w-full max-w-md gap-2">
      <input
        type="search"
        placeholder="Search"
        [(ngModel)]="shopParams.search"
        name="search"
        class="w-full px-[var(--spacing-lg)] py-[var(--spacing-sm)] rounded-md bg-[var(--color-bg-alt)] text-[var(--color-text)] border border-gray-700 focus:outline-none focus:ring-2 focus:ring-[var(--color-accent-cyan)]"
      />
      <button
        mat-icon-button
        type="submit"
        class="text-[var(--color-accent-cyan)] hover:text-[var(--color-accent-pink)]"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div class="flex gap-3 flex-wrap">
      <button
        class="flex items-center gap-1 px-[var(--spacing-md)] py-[var(--spacing-sm)] bg-[var(--color-bg-alt)] text-[var(--color-text)] rounded-md hover:bg-[var(--color-bg)]"
        (click)="openFiltersDialog()"
      >
        <mat-icon class="text-[var(--color-accent-cyan)]">filter_list</mat-icon>
        Filters
      </button>
      <button
        class="flex items-center gap-1 px-[var(--spacing-md)] py-[var(--spacing-sm)] bg-[var(--color-bg-alt)] text-[var(--color-text)] rounded-md hover:bg-[var(--color-bg)]"
        mat-stroked-button
        [matMenuTriggerFor]="sortMenu"
      >
        <mat-icon class="text-[var(--color-accent-cyan)]">swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>

  <div class="flex justify-center mt-[var(--spacing-xl)]">
    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-[var(--spacing-2xl)] w-full max-w-screen-2xl"
    >
      <app-device-item
        *ngFor="let device of devices()?.data"
        [device]="device"
        class="h-full"
      ></app-device-item>
    </div>
  </div>

  <mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
      <mat-list-option
        *ngFor="let sort of sortOptions"
        [value]="sort.value"
        [selected]="shopParams.sort === sort.value"
      >
        {{ sort.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-menu>
</div>
