<div class="filters-container">
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider class="bg-gray-700"></mat-divider>

  <div class="flex gap-4 mt-4">
    <div class="w-1/2">
      <h4 class="font-semibold text-xl mb-2">Brands</h4>
      <mat-selection-list [(ngModel)]="selectedBrands" [multiple]="true">
        <mat-list-option *ngFor="let brand of shopService.brands" [value]="brand">
          {{ brand }}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="w-1/2">
      <h4 class="font-semibold text-xl mb-2">Groups</h4>
      <mat-selection-list [(ngModel)]="selectedGroups" [multiple]="true">
        <mat-list-option *ngFor="let group of shopService.groups" [value]="group">
          {{ group }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>

  <div class="flex justify-end p-4 mt-4">
    <button mat-flat-button class="bg-cyan-600 text-gray-100 hover:bg-cyan-500">
      Apply Filters
    </button>
  </div>
</div>
